<!DOCTYPE html>
<html>
  
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  
  <body>
 
      <form action="/upload" method="post" enctype="multipart/form-data">
          Submit a file to view its filesize.<br/><br/>
          <input type="file" name="fileToUpload" id="fileToUpload">&nbsp;
          <input type="submit" onclick="fileUploadFunction()" value="Upload The File" name="submit">
      </form>
    
  </body>
  <script>
    function fileUploadFunction()
    {
        var x = document.getElementById("fileToUpload");
        x.disabled = true;
    }
  </script>
</html>